<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test name="Device1Test">
	  <parameter name="udid" value="emulator-5554"></parameter>
	  <parameter name="systemPort" value="8200"></parameter>
    <classes>
      <class name="tests.Class1Test"/>
      </classes>
  </test> <!-- Test -->
  <test name="Device2Test">
	  <parameter name="udid" value="emulator-5556"></parameter>
	  <parameter name="systemPort" value="8300"></parameter>
	  <classes>
      <class name="tests.Class2Test"/>
      </classes>
    </test>
</suite> <!-- Suite -->
